# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Python virtual environment
.venv/
venv/
env/

# Environment variables / API keys
.env
.env.*
!.env.example

# PyCharm / IntelliJ
.idea/

# VS Code
.vscode/

# Windows / macOS
Thumbs.db
.DS_Store

# Python tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build files
build/
dist/
*.egg-info/